#conteiner {
  display: grid;
  grid-template-columns: repeat(5, auto);
  justify-content: center;
}

.pista1 {
  width: 200px;
  height: 100vh;
  border-width: 4px;
  border-style: dashed;
  border-right-color: white;
  background-color: black;

}

.pista5 {
  width: 200px;
  height: 100vh;
  border-width: 4px;
  border-style: solid;
  border-color: black;
  background-color: black;

}